:root {
  --primary: #10b981;
  --primary-bg: #f5f5f5;
  --primary-hover: #0d89be;
  --textprimary-color: #2b2626;
  --primary-products: #845ec2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: none;
}
body {
  width: 100%;
  margin: auto;
  background-color: var(--primary-bg);
}
header {
  margin-top: 56px;
}
.navbar {
  max-width: 1440px;
  margin: 0 auto;
}
.navbar-header {
  display: flex;
  justify-content: end;
  gap: 25px;
  padding: 0 85px;
}
.logo {
  display: inline-block;
  font-size: 40px;
  line-height: 49px;
  font-weight: 400;
  font-style: italic;
  margin-right: auto;
}
.search__input {
  position: relative;
}

.search {
  width: 322px;
  height: 63px;
  box-shadow: rgba(46, 131, 158, 0.07);
  border: none;
  border-radius: 10px;
  padding: 0 18px 0 32px;
  background-color: #fff;
}

.items {
  width: 229px;
  height: 60px;
  border: 1px solid var(--primary);
  background: none;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
.items:hover {
  border: 1px solid var(--primary-hover);
  background-color: var(--primary-hover);
}
.items:hover .items__text {
  color: #fff;
}
.items:active {
  border: 1px solid 0;
  background-color: 0;
}
.items:active .items__text {
  color: #fff;
}

.basket__text {
  display: inline-block;
  margin-left: 15px;
}
.login {
  width: 229px;
  height: 60px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
.login:hover {
  border: 1px solid var(--primary-hover);
  background-color: var(--primary-hover);
}

.login > img {
  background-color: transparent;
}

.login__text {
  margin-left: 15px;
  display: inline-block;
  background-color: transparent;
}
.bar {
  height: 81px;
  margin-top: 63px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.bar .link {
  display: inline;
  background-color: transparent;
}
.bar .link a {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
/*info1*/
.info1 {
  max-width: 1440px;
  max-height: 888px;
  margin: 0 auto;
  display: flex;
  gap: 129px;
}
.info1_left {
  margin-left: 85px;
  width: 700px;
  display: inline-flex;
  flex-direction: column;
  margin-top: 126px;
  margin-bottom: 85px;
}
h2 {
  font-weight: 500;
}
.info1_left__text {
  font-size: 54px;
  line-height: 78px;
  color: var(--textprimarycolor);
}
.info1__lorem {
  font-weight: 500;
  font-size: 21px;
  line-height: 35px;
  color: var(--textprimarycolor);
  margin-top: 30px;
}
.info1_left__button {
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-top: 52px;
}
.info1_left__btn {
  width: 263px;
  height: 70px;
  background-color: var(--primary);
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(132, 94, 194, 0.15);
}
.pictures {
  padding-top: 100px;
  position: relative;
  width: 180px;
}
.k1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 2;
}

.k2 {
  position: absolute;
  left: 37px;
}

.k3 {
  position: absolute;
  left: 74px;
}

.k4 {
  position: absolute;
  left: 112px;
}
.pictures_text {
  font-size: 26px;
  line-height: 35px;
  font-weight: 500;
  color: var(--textprimarycolor);
  width: 120px;
}
.info1_right {
  width: 538px;
  height: 600px;
  display: inline-flex;
}
