html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  padding-top: 53px;
  max-width: 1440px;
  font-family: Montserrat;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
}
nav {
  background: #10b981;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  width: 100%;
  height: 81px;
  margin-top: 53px;
}
h1 {
  color: #2b2626;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 119px;
}
p {
  color: #2b2626;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
}
p1 {
  color: #2b2626;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  position: absolute;
  margin-left: 200px;
}

h2 {
  font-family: Montserrat;
  width: 692.481px;
  -webkit-text-fill-color: #845ec2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
p2 {
  color: #fff;
  display: inline-block;
  font-family: Montserrat;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-left: 200px;
  word-spacing: 15px;
}
h3 {
  color: #fff;
  width: 480px;
  font-family: Montserrat;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 136px;
  display: inline-block;
}
h4 {
  width: 244px;
  color: #2b2626;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 484.5px;
}
p11 {
  display: inline-block;
  max-width: 440px;
  max-height: 105px;
  color: #fff;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-top: -30px;
}
.dollar {
  color: #fff;

  font-family: Montserrat;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.shopper {
  display: inline-block;
  align-items: baseline;
}

p10 {
  width: 112px;
  color: #2b2626;

  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  position: static;
}
.nadpis {
  margin-left: 85px;
  font-size: 40px;
  font-style: italic;
  line-height: normal;
}
.search {
  text-indent: 25px;
  margin-left: 239px;
  width: 322px;
  height: 63px;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
}
.lupa {
  position: absolute;
  margin-left: -60px;
  margin-top: 15px;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #10b981;
  display: inline-block;
  border: none;
}
.svg_lupa {
  margin-top: 3px;
}
.bag {
  cursor: grab;
  width: 229px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #10b981;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  color: #2b2626;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}
.login {
  cursor: grab;
  width: 247px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  border-radius: 30px;
  background: #10b981;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 375% */
}
.ic {
  position: absolute;
  margin-top: 15px;
  margin-left: -30px;
}
.nav_elem {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info1 {
  display: inline-block;
  height: 681px;
  width: 100%;
}
.info1_left {
  margin-left: 85px;
  width: 750px;
  display: inline-block;
  position: absolute;
}
.custom_btn {
  width: 263px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #10b981;
  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 34px;
  cursor: grab;
}
.pictures {
  margin-top: 100px;
  position: absolute;
}
.k1 {
  position: absolute;
  z-index: 1;
}
.k2 {
  position: absolute;
  z-index: 2;
  margin-left: 40px;
}
.k3 {
  position: absolute;
  z-index: 3;
  margin-left: 80px;
}
.k4 {
  position: absolute;
  z-index: 4;
  margin-left: 120px;
}
.info1_right {
  display: inline-block;
  width: 600px;
  position: absolute;
  margin-left: 800px;
}

.main-headphones {
  border-radius: 136px;
  background: #ecfef4;
  width: 272px;
  height: 477px;
  flex-shrink: 0;
}

.main-headphones_img {
  width: 280px;
  height: 299px;
  flex-shrink: 0;
  margin-top: 100px;
  position: absolute;
  margin-left: 60px;
}
.star1 {
  margin-top: 75px;
}

.video-block {
  width: 112px;
  height: 75px;
  flex-shrink: 0;
  position: absolute;
  margin-top: -220px;
  margin-left: -100px;
}

.video_img {
  border-radius: 50%;
  margin-left: 12px;
  margin-top: 150px;
}
.star2 {
  margin-left: 330px;
  position: absolute;
  margin-top: 10px;
}
.red_beats {
  margin-left: 30px;
}
/* finish blok 1 */

.info2 {
  display: inline-block;
  width: 100%;
  height: 591px;
  margin-top: 200px;
  background-color: #845ec2;
}
.info2_left {
  display: inline-block;
  position: absolute;
  width: 720px;
  margin-left: 85px;
}
.image_position {
  display: inline-block;
}
.center_img {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -83px;
  position: absolute;
}
.right_img {
  position: static;
  margin-left: 235px;
}

.info2_right {
  display: inline-block;
  position: absolute;
  width: 680px;
  margin-left: 820px;
}
.view {
  width: 120.083px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  border: none;
  background-color: #845ec2;
  margin-left: 20px;
  cursor: grab;
}
/* finish block 2 */
.info3 {
  display: inline-block;
  width: 1333px;
  height: 829px;
  margin-top: 80px;
  padding-left: 107px;
}
.active {
  color: #fff;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 177px;
  height: 91px;
  flex-shrink: 0;
  background-color: #10b981;
  border-radius: 50%;
  border: none;
  margin-left: 410px;
  cursor: grab;
}
.active2 {
  color: #000;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 118px;
  height: 32px;
  border: none;
  padding-left: 40px;
  cursor: grab;
}
.boat {
  display: inline-block;
}
.boat1 {
  display: inline-block;
  width: 361px;
  height: 438px;
}
.boat2 {
  display: inline-block;
  width: 361px;
  height: 438px;
}
.boat3 {
  display: inline-block;
  width: 361px;
  height: 438px;
}
.adder {
  font-family: Montserrat;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 300px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #10b981;
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.1);
  border: none;
}
.info4 {
  display: inline-block;
  width: 1333px;
  height: 829px;
  margin-top: 80px;
  padding-left: 107px;
}
