html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  padding-top: 53px;
  max-width: 1440px;
  font-family: Montserrat;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.205px;
}
nav {
  background: #10b981;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  width: 100%;
  height: 81px;
  margin-top: 53px;
}
h1 {
  color: #2b2626;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 119px;
}
p {
  color: #2b2626;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
}
p1 {
  color: #2b2626;

  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  position: absolute;
  margin-left: 200px;
}

h2 {
  font-family: "Montserrat-light", sans-serif;
  width: 693px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fff;
  color: transparent;
}

h3 {
  color: #fff;
  width: 480px;

  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 136px;
  display: inline-block;
}
h4 {
  width: 462px;
  color: #2b2626;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 515px;
}
h5 {
  width: 334px;
  color: #2b2626;
  text-align: center;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 152px;
}
h6 {
  width: 504px;
  color: #fff;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
h8 {
  width: 462px;
  color: #2b2626;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 420px;
}
p11 {
  display: inline-block;
  max-width: 440px;
  max-height: 105px;
  color: #fff;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-top: -30px;
}
footer {
  font-family: "DM Sans";
  width: 1068px;
  height: 415px;
  margin-top: 125px;
  padding-left: 186px;
  padding-right: 186px;
}

.dollar {
  color: #fff;

  font-family: Montserrat;
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.shopper {
  display: inline-block;
  align-items: baseline;
}

.nadpis {
  margin-left: 85px;
  font-size: 40px;
  font-style: italic;
  line-height: normal;
}
.search {
  text-indent: 25px;
  margin-left: 239px;
  width: 322px;
  height: 63px;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
}
.lupa {
  position: absolute;
  margin-left: -60px;
  margin-top: 15px;
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #10b981;
  display: inline-block;
  border: none;
}
.svg_lupa {
  margin-top: 3px;
}
.bag {
  cursor: grab;
  width: 229px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #10b981;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  color: #2b2626;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  margin-left: 50px;
}
.login {
  cursor: grab;
  width: 247px;
  height: 60px;
  flex-shrink: 0;
  border: none;
  border-radius: 30px;
  background: #10b981;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 375% */
}
.ic {
  position: absolute;
  margin-top: 15px;
  margin-left: -30px;
}
.nav_elem {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* header */

.info1 {
  display: inline-block;
  height: 681px;
  width: 100%;
}
.info1_left {
  margin-left: 85px;
  width: 750px;
  display: inline-block;
  position: absolute;
}
.custom_btn {
  width: 263px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #10b981;
  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 34px;
  cursor: grab;
}
.pictures {
  margin-top: 100px;
  position: absolute;
}
.k1 {
  position: absolute;
  z-index: 1;
}
.k2 {
  position: absolute;
  z-index: 2;
  margin-left: 40px;
}
.k3 {
  position: absolute;
  z-index: 3;
  margin-left: 80px;
}
.k4 {
  position: absolute;
  z-index: 4;
  margin-left: 120px;
}
.info1_right {
  display: inline-block;
  width: 600px;
  margin-left: 800px;
}
.oval {
  position: relative;
  background: #ffffff;
  width: 280px;
  height: 297px;
  padding: 10% 0;
  border-radius: 136px; /* адаптивный круг */
  font: 4.5vmin monospace;
  margin-top: 189px;
  margin-left: 150px;
}
.oval b {
  position: absolute;
  left: 50%;
  color: #2b2626;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.oval b:nth-of-type(-n + 17) {
  bottom: 50%; /* отступ от центра по радиусу */
  -ms-transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 140% 70%;
  padding-bottom: 100%; /* отступ от центра круга */
}
.oval b:nth-of-type(1) {
  -ms-transform: rotate(-93.185deg);
  -webkit-transform: rotate(-93.185deg);
  transform: rotate(-93.185deg);
  margin-bottom: 10px;
}
.oval b:nth-of-type(2) {
  -ms-transform: rotate(-83.915deg);
  -webkit-transform: rotate(-83.915deg);
  transform: rotate(-83.915deg);
  margin-left: 8px;
  margin-bottom: 1px;
}
.oval b:nth-of-type(3) {
  -ms-transform: rotate(-74.944deg);
  -webkit-transform: rotate(-74.944deg);
  transform: rotate(-74.944deg);
  margin-left: 8px;
  margin-bottom: -2px;
}
.oval b:nth-of-type(4) {
  -ms-transform: rotate(-61.53deg);
  -webkit-transform: rotate(-61.53deg);
  transform: rotate(-61.53deg);
  margin-left: 4px;
  margin-bottom: -10px;
}
.oval b:nth-of-type(5) {
  -ms-transform: rotate(-52.077deg);
  -webkit-transform: rotate(-52.077deg);
  transform: rotate(-52.077deg);
  margin-left: 6px;
  margin-bottom: -20px;
}
.oval b:nth-of-type(6) {
  -ms-transform: rotate(-43.574deg);
  -webkit-transform: rotate(-43.574deg);
  transform: rotate(-43.574deg);
  margin-left: 4px;
  margin-bottom: -26px;
}
.oval b:nth-of-type(7) {
  -ms-transform: rotate(-36.446deg);
  -webkit-transform: rotate(-36.446deg);
  transform: rotate(-36.446deg);
  margin-left: 6px;
  margin-bottom: -34px;
}
.oval b:nth-of-type(8) {
  -ms-transform: rotate(-30.003deg);
  -webkit-transform: rotate(-30.003deg);
  transform: rotate(-30.003deg);
  margin-left: 2px;
  margin-bottom: -35px;
}
.oval b:nth-of-type(9) {
  -ms-transform: rotate(-16.461deg);
  -webkit-transform: rotate(-16.461deg);
  transform: rotate(-16.461deg);
  margin-left: 8px;
  margin-bottom: -30px;
}
.oval b:nth-of-type(10) {
  -ms-transform: rotate(-7.803deg);
  -webkit-transform: rotate(-7.803deg);
  transform: rotate(-7.803deg);
  margin-left: 16px;
  margin-bottom: -40px;
}
.oval b:nth-of-type(11) {
  -ms-transform: rotate(-1.419deg);
  -webkit-transform: rotate(-1.419deg);
  transform: rotate(-1.419deg);
  margin-left: 8px;
  margin-bottom: -42px;
}
.oval b:nth-of-type(12) {
  -ms-transform: rotate(7.082deg);
  -webkit-transform: rotate(7.082deg);
  transform: rotate(7.082deg);
  margin-left: 4px;
  margin-bottom: -44px;
}
.oval b:nth-of-type(13) {
  -ms-transform: rotate(15.196deg);
  -webkit-transform: rotate(15.196deg);
  transform: rotate(15.196deg);
  margin-left: -2px;
  margin-bottom: -46px;
}
.oval b:nth-of-type(14) {
  -ms-transform: rotate(22.989deg);
  -webkit-transform: rotate(22.989deg);
  transform: rotate(22.989deg);
  margin-left: -6px;
  margin-bottom: -47px;
}
.oval b:nth-of-type(15) {
  -ms-transform: rotate(34.011deg);
  -webkit-transform: rotate(34.011deg);
  transform: rotate(34.011deg);
  margin-left: -28px;
  margin-bottom: -58px;
}
.oval b:nth-of-type(16) {
  -ms-transform: rotate(43.839deg);
  -webkit-transform: rotate(43.839deg);
  transform: rotate(43.839deg);
  margin-left: -14px;
  margin-bottom: -42px;
}
.oval b:nth-of-type(17) {
  -ms-transform: rotate(50.591deg);
  -webkit-transform: rotate(50.591deg);
  transform: rotate(50.591deg);
  margin-left: -30px;
  margin-bottom: -46px;
}

.main-headphones_img {
  display: flex;
  width: 280px;
  height: 299px;
  flex-shrink: 0;
  margin-top: -355px;
  position: absolute;
  margin-left: 160px;
}
.star1 {
  position: absolute;
  margin-top: 70px;
  margin-left: 60px;
}

.video-block {
  display: inline-block;
  width: 112px;
  height: 75px;
  flex-shrink: 0;
}
.zelenka {
  display: flex;
  position: static;
  margin-left: 10px;
  margin-top: -100px;
}

.video_img {
  display: flex;
  position: absolute;
  border-radius: 50%;
  margin-left: 13px;
  margin-top: -70px;
}
.star2 {
  display: flex;
  margin-left: 450px;
  position: absolute;
  margin-top: -60px;
}
.play_video {
  width: 112px;
  color: #2b2626;
  margin-left: -5px;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  position: static;
}

/* finish blok 1 */

.info2 {
  display: inline-block;
  width: 100%;
  height: 591px;
  margin-top: 200px;
  background-color: #845ec2;
}
.info2_left {
  display: inline-block;
  position: absolute;
  width: 720px;
  margin-left: 85px;
}
.image_position {
  display: flex;
  position: absolute;
}
#image_position1 img {
  position: relative;
  top: 0;
  transition: top ease 1s;
  padding-left: 20px;
  margin-top: -20px;
}
#image_position2 img {
  position: relative;
  top: 0;
  transition: top ease 1s;
  padding-left: 20px;
  margin-top: -20px;
}
#image_position3 img {
  position: relative;
  top: 0;
  transition: top ease 1s;
  padding-left: 20px;
  margin-top: -20px;
}
#image_position1:hover img {
  top: -60px;
}
#image_position2:hover img {
  top: -60px;
}
#image_position3:hover img {
  top: -60px;
}
.price5 {
  color: #fff;
  display: flex;
  position: absolute;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-left: 200px;
  gap: 15px;
  margin-top: 330px;
}

.info2_right {
  display: inline-block;
  position: absolute;
  width: 680px;
  margin-left: 820px;
}
.view {
  width: 120.083px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  border: none;
  background-color: #845ec2;
  margin-left: 20px;
  cursor: grab;
}
/* finish block 2 */
.info3 {
  display: flex;
  width: 1333px;
  height: 829px;
  margin-top: 80px;
  padding-left: 107px;
  flex-direction: column;
}
.active {
  color: #fff;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 177px;
  height: 91px;
  flex-shrink: 0;
  background-color: #10b981;
  border-radius: 50%;
  border: none;
  margin-left: 440px;
  cursor: grab;
}
.active2 {
  color: #000;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 118px;
  height: 32px;
  border: none;
  margin-left: 40px;
  cursor: grab;
  background-color: transparent;
}
.boat {
  display: flex;
  margin-top: 80px;
  gap: 93px;
}
.sale60 {
  position: absolute;
  width: 77px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 38px;
  margin-left: 255px;
}
.sale40 {
  position: absolute;
  width: 77px;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 40px;
  margin-left: 265px;
}
.zeleniy_krug {
  position: absolute;
  margin-top: 10px;
  margin-left: 220px;
}
.fioletoviy_krug {
  position: absolute;
  margin-top: 10px;
  margin-left: 230px;
}
.boat_bot1 {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-top: 260px;
  background: #fff;
  width: 191px;
  height: 103px;
  flex-shrink: 0;
  margin-left: 0px;
  padding: 31px 76px 30px 52px;
  border-radius: 15px;
}
.headphones1 {
  position: static;
}
.headphones2 {
  position: static;
  margin-top: 30px;
}

p3 {
  color: #2b2626;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 166.667% */
}
p4 {
  color: #888;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 318.182% */
  padding-left: 10px;
}
p5 {
  color: #2b2626;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.boat1 {
  display: flex;
  flex-direction: column;
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background: #ecfef4;
  align-items: center;
}
.boat2 {
  display: flex;
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background: #d3fbfb;
  flex-direction: column;
  align-items: center;
}
.boat3 {
  display: flex;
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background: #e5d5ff;
  flex-direction: column;
  align-items: center;
}

.adder {
  position: absolute;
  font-family: Montserrat;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 361px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #10b981;
  box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.1);
  border: none;
  margin-top: 460px;
  cursor: grab;
}
.arrow {
  max-width: 64px;
  margin-left: -90px;
}

/* finish block 3 */
.info4 {
  display: flex;
  width: 1333px;
  height: 829px;
  margin-top: 180px;
  padding-left: 107px;
  flex-direction: column;
}

.info4_bar {
  margin-top: 75px;
}
.active_dva {
  color: #fff;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 177px;
  height: 91px;
  flex-shrink: 0;
  background-color: #10b981;
  border-radius: 50%;
  border: none;
  margin-left: 400px;
  cursor: grab;
}
.headphones3 {
  margin-top: 70px;
}
.boat4 {
  display: flex;
  flex-direction: column;
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background: #ecfef4;
  align-items: center;
}
.boat5 {
  display: flex;
  flex-direction: column;
  width: 361px;
  height: 438px;
  border-radius: 15px;
  background: #d3fbfb;
  align-items: center;
}
/* finish block 4 */
.fon_h5 {
  padding: 0px 553px 50px 552px;
  background-color: #fff;
}
.info5 {
  width: 1439px;
  height: 720px;
  background-color: #845ec2;
}

.info5_left {
  display: flex;
  max-width: 750px;
}
.ellipse-l {
  margin-top: 40px;
  border-radius: 136px;
  max-height: 420px;
  margin-left: 100px;
}
.ellipse {
  margin-top: 80px;
  border-radius: 136px;
  max-height: 420px;
  margin-left: 50px;
}
.mini_krug {
  position: absolute;
  background-color: #845ec2;
  border: none;
  margin-left: 40px;
  margin-top: 240px;
}
.mini_text {
  position: absolute;
  margin-top: 246px;
  margin-left: 56px;
  color: #fff;
}
.info5_right {
  display: block;
  position: absolute;
  margin-left: 700px;
  margin-top: -580px;
}
.lorem {
  width: 584px;
  height: 70px;
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 166.667% */
  margin-top: -110px;
}
.price6 {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px; /* 112.903% */
  margin-top: 0px;
}
.dollar1 {
  color: #fff;
  margin-left: 15px;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.mini_krug_r {
  position: absolute;
  background-color: #845ec2;
  border: none;
  margin-left: 645px;
  margin-top: -231px;
}
.mini_text_r {
  position: absolute;
  margin-top: -225px;
  margin-left: 663px;
  color: #fff;
}
.add_btn {
  width: 280px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #10b981;
  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 34px;
  cursor: grab;
  position: static;
}
.colors {
  margin-top: 20px;
}
.more {
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #845ec2;
  margin-left: 60px;
  cursor: grab;
}
/* finish block 5 */
.ready {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #10b981;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.ready_to {
  width: 213px;
  height: 29px;
  color: #111;
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
  padding-right: 20px;
}
.get_started {
  padding-left: 0;
  width: 175px;
  height: 50px;
  flex-shrink: 0;
  background: #10b981;
  box-shadow: 0px 25px 50px 0px rgba(132, 94, 194, 0.15);
  border: none;
  color: #fff;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: grab;
  color: #fff;

  font-family: "DM Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.232px;
}
.stolby {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subscribe {
  flex-direction: column;
  max-width: 289px;
  max-height: 139px;
}
.footer-links1 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 156px;
  max-height: 182px;
}
.footer-links2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 100px;
  max-height: 182px;
}
.footer-links3 {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 100px;
  max-height: 102px;
}
.our {
  color: #111;
  font-family: "DM Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}
.down {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.search1 {
  width: 289px;
  height: 51px;
  position: static;
  margin-left: 0px;
  padding-left: 0px;
  border: none;
}
.submit {
  position: absolute;
  margin-left: -50px;
}
.footer-header {
  color: #10b981;
}
.down1 {
  display: flex;
  gap: 30px;
}
